# +
# Compiled
# -
*.pyc
__pycache__
.pytest_cache

# +
# Packages
# -
*.csv
*.dmg
*.gz
*.tar
*.tgz
*.zip
*.js
*.json
*.map
*.obsolete

# +
# Logs
# -
*.log

# +
# Pycharm
# -
.idea

# +
# OS
# -
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.db

# +
# binaries
# -
bin/bokGalilIndiDriver
bin/bok_read_filters
bin/bok_read_guider_filters
bin/bok_read_instrument_filters
bin/bok_read_nominal_plane
src/bokGalilIndiDriver
src/bok_read_filters
src/bok_read_guider_filters
src/bok_read_instrument_filters
src/bok_read_nominal_plane
